# OSX
.DS_Store
.DS_Store?

# editors
.idea
.vscode

# git
.github
.env
.git

# configs
# some _config.*

# logs
logs
*.log
npm-debug.log*

# dependencies
node_modules/
package-lock.json
app/libs/

# misc folders
dist/
app/css/

# reference / archives
archives/
**/*.psd
**/*.rar
reference/

# server
app/ht.access

# thumbs
._*
**/ehthumbs.db
**/Thumbs.db
