// $accent: #e30613;
$accent: orange;

$color_gold: #fdb11e;
$color_green: #3e9b78;

$black_color: #000000;
$grey_color: #ecebeb;
$white-color: #ffffff;

$bg-darkgrey: #292929;

// fonts colors
$basefont-color: #f7f4f1;
