// for example
$basefont: 'Roboto', sans-serif; // имя шрифта определяется в _fonts.scss
$basefont-size: 16px;
$basefont-color: #f7f4f1;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

$accent: orange;
$color_gold: #fdb11e;
$color_green: #3e9b78;

$bg-darkgrey: #292929;
